
body, td, input, select, textarea {
	font-family: Verdana, Tahoma, Arial, Helvetica;
	font-size: 11px;
}

input, select, textarea {
	vertical-align: middle;
}

.leftColumn {
	width:180px;
	float:left;
}

.rightColumn {
	margin-left:185px;
}

/* Navigation Stuff */
.catMarker {
	padding-left: 3px;
	margin-right: 5px;
}

.subMenu {
	border: 1px solid #CCC;
	background: #f9f9f9;
	padding: 4px;
	text-align: center;
	color: #555;
	font-weight: bold;
	margin-bottom: 6px;
}

.navButton {
	display: block;
	font-weight: normal;
	text-decoration: none;
	text-align: left;
	padding: 4px;
	margin-bottom: 3px;

	background: #F9f9f9;
	color: #555;
	border: 1px solid #DDD;
	font-size: 11px;
}

.navButton:hover {
	background: #CBE3FF;
	color: #34558B;
	border: 1px solid #6794CF;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	margin-right: 4px;
	margin-left: 2px;
	margin-bottom: 2px;
	vertical-align: middle;
}




.navMenu {
	font-family: Verdana, Tahoma, Arial, Helvetica;
	font-size: 11px;
	width: 155px;
	background: #eee;
	border: 1px solid #DDD;
	padding: 6px;
	margin-bottom: 10px;
}


.navMenuItem {
	margin: 4px;
	font-weight: normal;
	text-align: left;
	color: #555;
}

.navMenu select {
	width: 100%;
	margin-bottom: 4px;
}

/* Calendar */
#monthTable {
	width: 100%;
	border-right: 1px solid #CCC;
}

.monthHeader td {
	font-family: Verdana, Tahoma, Arial, Helvetica;
	font-size: 12px;
	text-align: center;
	border-top: 2px solid #6794CF;
	border-bottom: 1px solid #6794CF;
	font-weight: bold;
	background: #C2D6EF;
	color: #34558B;
	padding: 6px;
}

.dayNormal, .dayWeekend, .dayToday {
	font-family: Verdana, Tahoma, Arial, Helvetica;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	height: 70px;
	width: 14%;
	vertical-align: top;
}

.dayWeekend {
	background-color: #F5F5F5;
}

.dayToday {
	background-color: #FFFFCC;
}

.dayLabel {
	font-size: 14px;
	color: #135A9F;
}

.daySpacer {
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
}

.monthEvent {
	margin: 0 3px 0 3px;
	padding: 3px;
	font-size: 10px;
	color: #FFF;
	border-bottom: none !important;
}

.monthEvent a {
	text-decoration: none;
	color: #FFF;
}

.monthEvent a:hover {
	text-decoration: underline;
	color: #FFF;
	background: transparent !important;
}

/* Index Page */
.sectionfooter {
	margin-bottom: 20px;
	margin-top: 8px;
	text-align: right;
}

.sectionfooter a {
	background: #DFEEFF url('../images/back_linkbut.gif') center left no-repeat;
	padding: 4px 9px 4px 9px;
	color: #34558B;
	text-decoration: none;
}

h1, h2 {
	color: #34558B;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
	letter-spacing:-1px;
	padding-bottom:5px;
}

h2 {
	border-bottom:none;
	padding-top:3px;
}

.subHeader {
	text-align: right;
	margin-bottom: 10px;
}

.subHeader a {
	float: right;
	/*clear: bottom;*/
	margin-bottom: 6px;
	border: 1px solid #CCC;
	padding: 2px 6px 3px 4px;
	background: #F5F5F5;
	display: block;
}

.dateContainer {
	text-align: center;
	width: 45px;
	float: left;
	margin-right: 11px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.dateContainer .month {
	background-color: #6696C0;
	font-size: 11px;
	color: #FFF;
	padding: 1px;
	font-weight: bold;
	letter-spacing:-1px;
	text-transform: uppercase;
}

.dateContainer .day {
	background-color: #FFF;
	border: 1px solid #DDD;
	color: #999;
	font-weight: bold;
	padding: 3px;
	font-size: 18px;
	letter-spacing:-1px;
}

.newsItem {
	padding-top:10px;
	margin-bottom: 10px;
	text-align: justify;
}

.newsItem .slugline {
	font-size: 10px;
	color: #777;
	font-weight:bold;
	margin-bottom: 4px;
}

.newsItem .newsText {
	color: #555;
	font-size: 11px;
}

#shiftTable thead tr th {
	font-weight: bold;
	background: #C2D6EF;
	color: #34558B;
	padding: 4px;
	text-align: left;
	border-top: 2px solid #6794CF;
	border-bottom: 1px solid #6794CF;
}

#shiftTable tbody tr td {
	border-bottom: 1px solid #EEE;
	padding: 4px;
	color: #555;
	/*cursor: pointer;*/
}

#shiftTable a {
	color: #34558B;
	border-bottom: 1px dotted #34558B;
}

#shiftTable tbody .rowOn {
	background-color: #F9F9F9;
}

#shiftTable tbody .today {
	background-color: #EEFFCF;
}

#milestonesTable thead tr th {
	font-weight: bold;
	background: #C2D6EF;
	color: #34558B;
	padding: 4px;
	text-align: left;
	border-top: 2px solid #6794CF;
	border-bottom: 1px solid #6794CF;
}

#milestonesTable tbody tr td {
	border-bottom: 1px solid #EEE;
	padding: 4px;
	color: #555;
	/*cursor: pointer;*/
}

#milestonesTable tbody .rowOn {
	background-color: #F9F9F9;
}





#userTable thead tr th {
	font-weight: bold;
	background: #C2D6EF;
	color: #34558B;
	padding: 4px;
	text-align: left;
	border-top: 2px solid #6794CF;
	border-bottom: 1px solid #6794CF;
}

#userTable tbody tr td {
	border-bottom: 1px solid #EEE;
	padding: 4px;
	color: #555;
	/*cursor: pointer;*/
}

#userTable tbody tr:hover {
	background:#edfed6;
	/*font-weight:bold;
	cursor: pointer;*/
}

#userTable a {
	color: #34558B;
	border-bottom: 1px dotted #34558B;
}




.navMenu h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	color: #AAA;
}

.navMenu p {
	margin: 4px 0 4px 10px;
	color: #666;
}

.newscolumn {
	padding-right: 20px;
	padding-left: 10px;
}


/* Login Form */
#login {
	background: #FFF url('../images/back_login.gif') bottom left repeat-x;
	width: 300px;
	margin: auto;
	margin-top: 30px;
	padding: 14px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 2px solid #DDD;
	border-bottom: 2px solid #DDD;
}

#login a {
	color: #69c;
}

#login a:hover {
	text-decoration: underline;
	color: #369;
}

#login h3 {
	margin-top: 0px;
	color: #00669F;
	font-size: 150%;
	margin-bottom: 8px;
	font-weight: bold;
}

#loginform {
	margin: 0px;
}

#loginform label {
	display: block;
	width: 80px;
}

#loginform input {
	border: 1px solid #aaa;
	padding: 4px;
	color: #000;
	background-color: #F5F5F5;
	margin: 2px;
	width: 200px;
}

#loginform .loginbutton {
	width: 70px;
	border: 1px solid #8AAF62;
	background: #D9EFC2;
	color: #3C4F27;
	font-weight: bold;
	float: right;
	margin-top: 10px;
}

#loginform .loginforgot {
	float: left;
	padding-top: 15px;
	padding-left: 0px;
}

#loginform .loginmsg {
	border: 1px solid #DDD;
	background: #F5F5F5;
	padding: 6px;
	text-align: Center;
	margin: auto;
	margin-bottom: 6px;
	color: #666;
}

/* Messaging Stuff */
#msgTable tbody .rowOn {
	background-color: #F9F9F9;
}

#msgTable tbody .unread {
	font-weight: bold;
	background-color: #FFFBCF;
}

#msgTable thead tr th {
	font-weight: bold;
	background: #C2D6EF;
	color: #34558B;
	padding: 4px;
	text-align: left;
	border-top: 2px solid #6794CF;
	border-bottom: 1px solid #6794CF;
}

#msgTable tbody tr td {
	border-bottom: 1px solid #EEE;
	padding: 4px;
	color: #555;
}


/* Shift Details */
#entry {
	margin-right: 10px;
}

#entry .datesel {
	width: 106px;
}

#entry textarea {
	width: 100%;
	height: 40px;
	padding: 2px;
}

#detailTable {
	width: 100%;
}

#detailTable .label {
	background-color: #DFEEFF;
	color: #34558B;
	text-align: right;
	padding: 5px 10px 5px 0px;
	width: 100px;
}

#detailTable td {
	color: #555;
	padding: 5px 10px 5px 10px;
}

#detailTable input,
#detailTable textarea,
#detailTable select {
	border:1px #d6d6d6 solid;
	padding:5px;
	color:#888;
	margin:0px;
	font-weight:normal;
}

#detailTable select {
	padding:2px 1px;
}

#buttonbar {
	margin-top: 5px;
	text-align: Center;
}

#buttonbar input {
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	padding: 4px 10px 4px 10px;
	margin: 4px;

	background: #EEE;
	color: #555;
	border: 1px solid #CCC;
	font-size: 11px;
}

#buttonbar input:hover {
	background: #CBE3FF;
	color: #34558B;
	border: 1px solid #6794CF;
}

table.SearchAndAlert {
	width:100%;
	height:45px;
	margin-top:42px;
}

.SearchBox {
	text-align:right;
}

.SearchBox a {
	float:right;
}

.Action {
	color:#c00;
	font-weight:bold;
	font-size:16px;
	letter-spacing:-1px;
}

td.sortBySection {
	color:#bbb;
}
td.sortBySection b {
	color:#555;
}
td.sortBySection a {
	color:#369;
}
td.sortBySection a:hover {
	color:#c00;
	text-decoration:underline !important;
}

#AdminUserListSearch {
	margin:0px;
	padding:0px;
	border:1px #bbb solid;
	width:250px;
	float:right;
	margin-bottom:2px;
}

#AdminUserListSearch input {
	width:175px;
	border:none;
	padding:7px;
	padding-left:10px;
	color:#888;
	margin:0px;

}

#AdminUserListSearch input:hover,
#AdminUserListSearch input:focus,
#AdminUserListSearch input:active {
	border:none;
	color:#4d7fc1;
	/*background:#f3fee5;*/
}

#AdminUserListSearch input.SearchButton,
#AdminUserListSearch img.RefreshButton {
	padding:6px;
	height:16px;
	width:16px;
	border-left:1px #ccc solid;
	background:#f3f3f3;
	margin:0px;
}

#AdminUserListSearch input.SearchButton:hover,
#AdminUserListSearch input.SearchButton:focus,
#AdminUserListSearch input.SearchButton:active,
#AdminUserListSearch img.RefreshButton:hover,
#AdminUserListSearch img.RefreshButton:focus,
#AdminUserListSearch img.RefreshButton:active {
	background:#edfed6;
	cursor:pointer;
}

.ManageLeads td.Title {
	color:#34558B;
	font-weight:bold;
	width:150px;
	vertical-align:top;
	padding-top:9px;
}

.ManageLeads select {
	width:275px;
	border:1px #d6d6d6 solid;
	padding:5px;
	color:#888;
	margin:0px;
	font-weight:normal;
}
#AdminUserDetails select {
	width:287px;
}

#AdminUserDetails {
	margin:0px;
	padding:0px;
}

#AdminUserDetails td p {
	margin:0px;
	padding:6px;
	color:#aaa;
}

#AdminUserDetails td.Title {
	color:#34558B;
	font-weight:bold;
	width:150px;
	vertical-align:top;
	padding-top:9px;
}

#AdminUserDetails input,
#AdminUserDetails textarea,
#AdminUserDetails select {
	width:275px;
	border:1px #d6d6d6 solid;
	padding:5px;
	color:#888;
	margin:0px;
	font-weight:normal;
}
#AdminUserDetails select {
	width:287px;
}

#AdminUserDetails input.CheckBoxes {
	width:25px;
	margin-right:15px;
	margin-bottom:5px;
	border:0px #999 solid;
}

#AdminUserDetails input.RadioBoxes {
	width:25px;
	margin-right:15px;
	margin-bottom:5px;
	border:1px #999 solid;
}


#AdminUserDetails input:hover,
#AdminUserDetails input:focus,
#AdminUserDetails input:active,
#AdminUserDetails textarea:hover,
#AdminUserDetails textarea:focus,
#AdminUserDetails textarea:active{
	color:#4d7fc1;
	border:1px #6794CF solid;
}

#AdminUserDetails input.Buttons {
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	width:100px;
	padding: 4px 10px 4px 10px;
	margin: 4px;
	margin-left:0px;
	background: #EEE;
	color: #555;
	border: 1px solid #CCC;
	font-size: 11px;
}

#AdminUserDetails input.Buttons:hover {
	background: #CBE3FF;
	color: #34558B;
	border: 1px solid #6794CF;
}

.HighlightUser {
	background:#edfed6; /*#fee8e5;*/
}

table.SectionList tr td span {
	color:#888;
}

.NewsControls {
	border-top: 1px solid #d5d5d5;
	background:#f0f0f0;
	padding:4px;
	padding-top:2px;
	padding-right:6px;
	margin-top:10px;
	margin-bottom:15px;
	text-align:right;
	color:#ddd;

} .NewsControls a {
	color:#6696C0;
	margin-top:3px;

 
} .NewsControls a:hover,
  .NewsControls a:active {
  color:#c00;
  border-bottom:1px dotted #c00;
  


} .GrandTotals tr td {
	background:#eee;
	padding:6px;
}




@media print {


	
	.leftColumn {
		display:none;
	}
	
	.rightColumn {
		margin:0;
	}

	.SearchAndAlert {
		display:none;	
	}



}





